@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

h1 {
    font-family: 'Arima Madurai', cursive;
    color: white;
    font-size: 4rem;
    letter-spacing: -3px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, -6);
    position: relative;
    z-index: 3;
}

.container {
    z-index: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
    background: url(./assets/pexels-eberhard-grossgasteiger-1367192.jpg) fixed;
    background-size: cover;
    height: 98vh;
}

.bird {
    background: url(./assets/birds.svg);
    background-size: auto 100%;
    width: 88px;
    height: 125px;
    will-change: background-position;
    animation-name: fly-cycle;
    animation-timing-function: step(10);
    animation-iteration-count: infinite;
}

.bird-one {
    animation-duration: 1s;
    animation-delay: -0.5s;
}

.bird-two {
    animation-duration: 9s;
    animation-delay: -0.75s;
}

.bird-three {
    animation-duration: 1.25s;
    animation-delay: -0.25s;
}

.bird-four {
    animation-duration: 1.1s;
    animation-delay: -0.5s;
}

.bird-container {
    position: absolute;
    top: 20%;
    left: -10%;
    transform: scale(0) translateX(-10vw);
    will-change: transform;
    animation-name: fly-right-one;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.bird-container-one {
    animation-duration: 15s;
    animation-delay: 0;
}

.bird-container-two {
    animation-duration: 16s;
    animation-delay: 1;
}
.bird-container-three {
    animation-duration: 12s;
    animation-delay: 7;
}
.bird-container-four {
    animation-duration: 16s;
    animation-delay: 9.7;
}

@keyframes fly-cycle {
    100% {
        background-position: -900px 0;
    }
}

@keyframes fly-right-one {
    0% {
        transform: scale(0.3) translateX(-10vw);
    }
    10% {
        transform: translateX(10vw, 2vh) scale(0.4);
    }
    20% {
        transform: translateX(30vw, 0) scale(0.5);
    }
    30% {
        transform: translateX(50vw, 4vh) scale(0.6);
    }
    40% {
        transform: translateX(70vw, 2vh) scale(0.6);
    }
    50% {
        transform: translateX(90vw, 0) scale(0.6);
    }
    60% {
        transform: translateX(110vw, 0) scale(0.6);
    }
    100% {
        transform: translateX(110vw, 0) scale(0.6);
    }
}
